<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help Page</title>
</head>
<body>

    {{> header}}
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse quam odit deleniti, sit neque expedita debitis quas, rem iste suscipit deserunt dicta perferendis! Ipsam veniam vitae illum at libero dignissimos blanditiis commodi dolorem in, ab obcaecati odit voluptas voluptates illo sapiente ducimus officiis, velit voluptatum, quis consectetur asperiores minus autem.</p>
    {{> footer}}
</body>
</html>